//sidebar

.sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0 3px 22px 0 black;

    a {
        padding-left: 16px;
        text-decoration: none;
        font-family: "Open Sans", "Open Sans mon";
        font-weight: bold;
        color: white;

        &:hover {
            background: rgba(255,255,255, 0.25);
        }
    }
}
